<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--默认情况下为单例模式（只有单个对象被创建，可直接访问）-->
    <!--
        scope：设置bean的作用域
        singleton（单例）：表示获取该bean所对应的对象都是同一个，为默认值
        prototype（多例）：表示获取该bean所对应的对象都是不同一个
    -->
    <bean id="student" class="com.kaede.spring.pojo.Student" scope="singleton">
        <property name="stuId" value="1001"></property>
        <property name="stuName" value="张三"></property>
    </bean>

</beans>